<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Grocery List</title>
  <style>
    body {
      margin-top: 100px;
      padding: 0;
      height: 100vh;
      font-family: Arial, sans-serif;
    }

    .center-text {
      text-align: center;
      font-size: 30px;
    }

    .link {
      display:block;
      margin-top: 20px;
      font-size: 18px;
      color: #007BFF;
      text-decoration: none;
    }
  </style>
</head>
<body>
  <div class="center-text">
    Grocery List
    <a href="https://github.com/OleksandrMyroniukUshio/" class="link" target="_blank">GitHub</a>
    <a href="/groceries" class="link">Groceries</a>
  </div>
</body>
</html>