body {
    font-family: Arial, sans-serif;
    color: #333;
    margin: 0;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.main {
    width: 80%;
    max-width: 800px;
    margin-left: auto;
    margin-right: auto;
}


.summary {
    background-color: #fff;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

h1 {
    text-align: center;
    color: #444;
}
