<link href="https://fonts.googleapis.com/css2?family=Inter:wght@400;700&display=swap" rel="stylesheet">
    <div class="container mt-5">
        <div class="row justify-content-center">
            <div class="col-lg-6">
                <div class="card">
                    <div class="card-body">
                        <h4 class="card-title mb-4">Register</h4>
                        <p class="mb-4 text-inter">Create an account to save data and be able to use multiple devices</p>
                        <form (submit)="register(username.value, password.value, confirmPassword.value); $event.preventDefault()">
                            <div *ngIf="errorMessage" class="alert alert-warning">{{ errorMessage }}</div>
                            <div class="mb-3">
                                <label for="username" class="form-label">Username</label>
                                <input type="text" class="form-control" id="username" placeholder="Enter your username" required #username>
                            </div>
                            
                            <div class="mb-3">
                                <label for="password" class="form-label">Password</label>
                                <input type="password" class="form-control" id="password" placeholder="Enter your password" required #password>
                            </div>
                            <div class="mb-3">
                                <label for="confirmPassword" class="form-label">Confirm Password</label>
                                <input type="password" class="form-control" id="confirmPassword" placeholder="Confirm your password" required #confirmPassword>
                                <div *ngIf="passwordMismatch" class="text-danger mt-2">
                                Passwords do not match.
                                </div>
                            </div>
                            <button type="submit" class="btn btn-primary w-100">Sign Up</button>
                        </form>
                        <div class="mt-3 text-left">
                            <div class="row justify-content-center">
                                <div class="col">
                                    <a [routerLink]="['/login']">Already have an account? Sign In</a>
                                </div>
                                <div class="col">
                                    <a [routerLink]="['/groceries']">Continue without registering</a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
</div>
