.main-component-container {
    font-family: 'Sans-serif';
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

.grocery-input, .grocery-list {
    text-align: center;
    width: 30%;
    margin: 0 auto;
    border-radius: 15px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    padding: 20px;
    background-color: #f7f7f7;
}

#main-title {
    font-size: 2em;
    border: 2px solid;
    margin: 0.5em 0;
    border-radius: 10px;
    padding: 10px;
}

.input-container {
    display: flex;
    gap: 10px;
}

.input-container input, .input-container select {
    font-size: 1.2em;
    border-radius: 10px;
    border: 1px solid #ccc;
    padding: 10px;
}

.input-container input[type="text"] {
    flex: 3;
}

.input-container select {
    flex: 2;
    width: 100%;
}

table {
    font-size: 1.5em;
    width: 100%;
    text-align: center;
    border-collapse: collapse;
}

th, td {
    word-wrap: break-word;
    white-space: normal;
    max-width: 150px;
    padding: 5px;
    border-radius: 5px;
}

th:nth-child(2), td:nth-child(2) {
    width: 20%;
}

th:nth-child(3), td:nth-child(3) {
    width: 15%;
    text-align: right;
}

button, #grocery-submit {
    border-radius: 10px;
    padding: 4px 10px;
    cursor: pointer;
    transition: background-color 0.3s;
    width: 100%;
}

#grocery-submit {
    color: black;
    background-color: #9EFF00;
    border: #ccc 1px solid;
}

#grocery-submit:hover {
    background-color: #15c925;
}

#delete-button {
    background-color: #FFE100;
    border: #ccc 1px solid;
}

#delete-button:hover {
    background-color: #ffb700;
}

#clear-button {
    color: white;
    background-color: #FF6100;
    border: 1px solid;
}

#clear-button:hover {
    background-color: #d40000;
}

.crossed-out {
    text-decoration: line-through;
}

@media (max-width: 575.98px) {
    .grocery-input, .grocery-list {
        width: 90%;
        padding: 10px;
    }
    .input-container input, .input-container select {
        width: 100%;
        margin-bottom: 10px;
    }
}


@media (min-width: 576px) and (max-width: 767.98px) {
    .grocery-input, .grocery-list {
        width: 85%;
        padding: 15px;
    }
    .input-container input, .input-container select {
        width: 48%;
        margin-bottom: 10px;
    }
}


@media (min-width: 768px) and (max-width: 991.98px) {
    .grocery-input, .grocery-list {
        width: 70%;
        padding: 20px;
    }
    .input-container input, .input-container select {
        width: 48%;
    }
}


@media (min-width: 992px) {
    .grocery-input, .grocery-list {
        width: 50%;
        padding: 25px;
    }
    .input-container input, .input-container select {
        width: 48%;
    }
}